@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

#photographerContainer a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.desc {
    margin: 3px;
    line-height: 13px;
}

#location {
    font-size: 13px;
    color: #901C1C;
    font-weight: 400;
}

#tagline {
    font-size: 10px;
}

#tjm {
    font-size: 9px;
}

/* Page individuelle des photographes */

.photograph-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
}


.photographerInfo {
    margin: auto 0;
}

.photograph-header h1 {
    font-size: 64px;
    font-family: 'DM Sans';
    line-height: 83px;
    font-style: normal;
    font-weight: 400;
    color: #D3573C;
    margin: 0px 0px 20px;
}

.photographerLocation {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #901C1C;
    margin: 0px 0px 20px;
}

.photographerTagline {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #525252;
    margin: 0px;
}

.photograph-header .contact_button {
    margin: auto 0;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
    margin: auto 0;
}

.filter {
    margin: 20px 100px;
}

.filter label {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.filter select {
    margin-left: 25px;
    background-color: #911C1C;
    border: 0px;
    border-radius: 5px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.filter option {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
}

.dataContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 100px;
}

.dataContainer img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.dataContainer video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    object-position: center;
}

.dataContainer .mediaInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 350px;
}

.mediaInfo .likesContainer {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.mediaInfo .mediaLikes {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #911C1C;
    margin-right: 5px;
}

.mediaInfo .heart {
    width: 17.5px;
    height: 18.35px;
    margin: auto 0;
}

.dataContainer h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
    margin: auto 0;
}

.tjmContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #DB8876;
    border-radius: 5px;
    height: 89px;
    width: 376px;
    margin-left: 70%;
    position: sticky;
    bottom: 0px;
}

.tjmContainer .likesTotalContainer {
    display: flex;
    margin-left: 35px;
}

.tjmContainer p {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    text-align: right;
    color: #000000;
    margin: auto 0;
}

.tjmContainer .tjm {
    margin-right: 35px;
}

.tjmContainer .totalHeart {
    fill: black;
    width: 17.5px;
    height: 18.35px;
    margin: auto 0;
    margin-left: 5px;
}

#contact_modal {
    position: fixed;
    z-index: 9999;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c4c4c466;
}

.modal {
    margin-top: 50px;
    width: 35%;
}

.contactHeaderTitle {
    line-height: 5px;
}

#contactClose {
    margin-bottom: 50px;
}

#contactPhotographerName {
    text-align: left;
}

#contactLabelFirstname {
    margin-top: 15px;
}

/* Lightbox styles */

.lightboxContainer {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c4c4c466;
}

.lightboxContent {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 100px;
    left: 355px;
}

#lightboxLeftArrow {
    height: 48px;
    width: 30px;
    margin-top: 235px;
    margin-right: 34px;
}

#lightboxRightArrow {
    height: 48px;
    width: 30px;
    margin-top: 185px;
}

.closeAndRight {
    display: flex;
    flex-direction: column;
    margin-left: 34px;
    margin-top: 15px;
}

#lightboxContentImg {
    display: none;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    object-position: center;
    object-fit: cover;
}

#lightboxContentVideo {
    display: none;
    width: 600px;
    height: 600px;
    border-radius: 5px;
    object-position: center;
    object-fit: cover;
}

#lightboxContentTitle {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    color: #911C1C;
}